<section class="categories-section">
  <div class="container">
    <h2 class="section-title">{{ 'HOME.CATEGORIES' | translate }}</h2>
    <div class="categories-grid">
      <button class="category-card" *ngFor="let c of categories" (click)="onSelect(c)">
        <span class="image-wrap">
          <!-- <img [src]="c.image" [alt]="c.name" /> -->
          <img [src]="fileBaseURL +c.fileUrl" [alt]="c.name" />
        </span>
        <span class="name">{{ c.name }}</span>
        <span class="count">{{ c.count }} {{ 'HOME.ITEMS' | translate }}</span>
      </button>
    </div>
    
    <app-pagination
            [currentPage]="currentPage"
            [totalPages]="totalPages"
            (pageChange)="onPageChange($event)"
          ></app-pagination>

    <div class="meta">
      <button class="shop" routerLink="/products">{{ 'HOME.SHOP_ALL' | translate }}</button>
    </div>
  </div>
</section>


